# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
venv/
iotmonitor/

# -----------------------------
# Django
# -----------------------------
backend/db.sqlite3
backend/staticfiles/
backend/media/

# -----------------------------
# React
# -----------------------------
frontend/node_modules/
frontend/dist/

# -----------------------------
# Terraform
# -----------------------------
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# -----------------------------
# AWS Credentials
# -----------------------------
aws/
*.pem

# -----------------------------
# Personal Notes
# -----------------------------
personal_notes.txt

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Misc
# -----------------------------
*.swp
*.swo
